/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /*15% from the top and centered*/
  width: 25vw; /*Could be more or less, depending on screen size*/
  border-radius: 5px;
}

form {
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.creation-form {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  border: solid 1px black;
  padding: 10px;
  font-size: small;
  border-radius: 5px;
  background-color: white;
  align-items: center;
}

.impedance-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, auto);
  gap: 5px;
  border: 1px solid gray;
  padding: 15px;
}

.impedance-input {
  width: 100px;
}
